{% extends 'base.html' %}
{% block container %}

{% for station in stations %}
    <div class="pb-5">
        <p><span class="text-uppercase font-weight-bold"> {{ station.call }}</span> ({{ station.city }})</p>
        <audio controls class="align-middle">
            <source src="{{ station.stream }}" width="100%" type="audio/mpeg">
        </audio>
    </div>
{% endfor %}

{% endblock %}
